@import '../utils/variables';
@import '../utils/mixins';
@import '../animations/animations';

.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background: url('../../assets/home.webp') no-repeat;
    background-size: cover;
    & .main{
        height: 100%;
        position: relative;
        & .btn{
            position: absolute;
            top: -6%;
            right: 5%;
            z-index: 1;
            padding: nth($padding, 2);
            border-radius: 20px;
            @include shadow;
            color: $black-color;
            background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
            cursor: pointer;
        }
        & .parent{
            width: 100%;
            height: 100%;
            & .child {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                position: relative;
                animation: move .3s ease-in-out;
            }
            & .react-chatbot-kit-chat-container {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                @include mobile {
                    width: 100%;
                }
                @include tablet {
                    width: 40%;
                }
                @include largeOrdi {
                    width: 30%
                }
                ::-webkit-scrollbar {
                    width: 5px;
                }
                ::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }
                ::-webkit-scrollbar-thumb {
                    background: #b4b3b3;
                }
                ::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }
                & .react-chatbot-kit-chat-inner-container {
                    height: 100%;
                    width: 100%;
                    @include shadow;
                    & .react-chatbot-kit-chat-header{
                        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
                        color: $white-color;
                        font-family: "Shrikhand", cursive;
                        font-weight: 400;
                    }
                    & .react-chatbot-kit-chat-message-container {
                        height: 70vh; //60
                        padding: 0 nth($padding, 3);
                        overflow: auto;
                        & .react-chatbot-kit-chat-bot-message {
                            margin: 0;
                            letter-spacing: .5px;
                            @include mobile {
                                width: 77%;
                            }
                        }
                        & .react-chatbot-kit-user-chat-message-container {
                            & .react-chatbot-kit-user-chat-message {
                                overflow: hidden;
                                //word-wrap: break-word;
                                word-break: break-all;
                            }
                            & .react-chatbot-kit-user-avatar-container {
                                background: $black-color;
                            }
                        }
                        & .pictures {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img {
                                object-fit: contain;
                                @include mobile {
                                    height: 62%;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    & .react-chatbot-kit-chat-input-container {
                        position: relative;
                        & .react-chatbot-kit-chat-input {
                            border: 1px solid #d8d8d8;
                        }
                        & .react-chatbot-kit-chat-btn-send{
                            background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
                            svg{
                                fill: $black-color;
                            }
                        }
                    }
                }
            }
        }
    }
}