@import '../utils/variables';
@import '../utils/mixins';

.flashcard-container {
    padding: 15px;
    border-radius: 3px;
    background-color: #f1e6e6;
}
.flashcard-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: nth($margin, 1);
    border-radius: 5px;
    padding: nth($padding, 1)+3;
    border: solid 1px;
}