@mixin mobile {
    @media screen and (min-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin largeOrdi {
    @media screen and (min-width: map-get($breakpoints, largeOrdi)) {
        @content;
    }
}
@mixin display-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin shadow {
    box-shadow: 0 4px 5px -2px hsla(0, 0%, 41.2%, .4),
    0 8px 13px 1px hsla(0, 0%, 41.2%, .25),
    0 3px 15px 3px hsla(0, 0%, 41.2%, .1);
}